.card2 {
  padding: 40px 80px;
  width: 500px;
  @apply flex justify-center border bg-purple-dba border-purple-dba cursor-pointer rounded-lg;
}

.stateChange {
  @apply bg-yellow-dba border-yellow-dba text-black;
}
